In [1]:
import sys; sys.path.append('../')
import pandas as pd
from model import MainObject
from db import DB

In [2]:
# Cargar la base de datos
database = DB('countries.sqlite')

In [3]:
# Crear un dataframe
df = pd.DataFrame(database.get_all_from('countries'), columns = ['Region', 'City', 'Language', 'Time'])

In [4]:
# Se muestra el dataframe
df

,Region,City,Language,Time
0,Europe,Germany,6945e6dd6badf6e2698a73327b59a35d6b27a65a,0.025987625122070312 ms
1,Africa,Morocco,cd67283ecb0ea118480f8761142499cb03d0db75,0.004291534423828125 ms
2,Europe,Belgium,440eca4e33673aaf0562a531fabd5161b7142dc6,0.003337860107421875 ms
3,Oceania,Cook Islands,cb02edd268b06fd81c8838985da976688dc03946,0.0030994415283203125 ms
4,Americas,Ecuador,5af3a9fef0624e2d653fa183e5ac23b8a3d49ca1,0.0030994415283203125 ms
...,...,...,...,...
245,Americas,Bermuda,e1bd32fed3366a97490ea487e0008e1cf33c1996,0.002384185791015625 ms
246,Europe,Slovakia,2e26c37c9ba50c8f304813c776f6421a59ebe5a6,0.0026226043701171875 ms
247,Asia,Bangladesh,c32aed090e7d97bb01297b0ccc54d62eb99b6b64,0.002384185791015625 ms
248,Europe,Denmark,88b7add1ed4c9ef92a823fde51a9866628255261,0.002384185791015625 ms
249,Oceania,Micronesia,e1bd32fed3366a97490ea487e0008e1cf33c1996,0.0026226043701171875 ms

In [5]:
time_mean = df['Time'].replace(' ms', '', regex=True).astype(float).mean()
min_time = df['Time'].replace(' ms', '', regex=True).astype(float).min()
max_time = df['Time'].replace(' ms', '', regex=True).astype(float).max()
total_time = df['Time'].replace(' ms', '', regex=True).astype(float).sum()

print('El tiempo promedio para armar las filas fue de {} s'.format(time_mean))
print('La fila más lenta se armó en {} s'.format(min_time))
print('La fila más rápida se armó en {} s'.format(max_time))
print('El tiempo total para armar la tabla fue de {} s'.format(total_time))

El tiempo promedio para armar las filas fue de 0.0026702880859375 s
La fila más lenta se armó en 0.0021457672119140625 s
La fila más rápida se armó en 0.025987625122070312 s
El tiempo total para armar la tabla fue de 0.667572021484375 s

In [6]:
# Guardar en json. Crea un archivo llamado countries.json
MainObject().save_in_json()